/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

#app {
  height: 100%;
}

body {
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;

  --accent: var(--blue);

  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  prose: #777C88;
  position: relative;
  height: 100%;
}

.active{
background-color:var(--red);
}

.c-share {
  padding: 1rem;

  display: flex;
  flex: column;
  align-items: center;
  justify-content: center; /* [2] */
}

.d-share {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center; /* [2] */
  margin-bottom:10px;
}

.swiper {
  width: 100%;
  height: 100%;
  cursor: -webkit-grabbing; cursor: grabbing;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fix-bottom-button {
  position: fixed;
  bottom: 3rem;
  left: 2rem;
  right: 2rem;
  align: right;

  background-image: linear-gradient(90deg, #ffa513, #ff5a1c);
  box-shadow: 0 0.13333rem 0.4rem 0 rgba(255, 80, 0, 0.4);

  border-radius: 1.5rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;

  height: 3rem;
  width: 3rem;

  line-height: 2;
}

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
}

::-webkit-scrollbar-corner {
  background: var(--blue);
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--green);
  transform-origin: 0%;
}

  /*---------------------------------------
      HERO
  -----------------------------------------*/

  #hero {
    background: url('../public/images/backgroundhero-tanah.jpg') no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 70vh;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
  }

  /*---------------------------------------
      ABOUT
  -----------------------------------------*/

  #about {
    background: url('../public/images/backgroundhero-tanah.jpg') no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30vh;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
  }

  /*---------------------------------------
      KONTAK
  -----------------------------------------*/

  #kontak {
    background: #004d40;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565c0, #a7ffeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565c0 , #a7ffeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    min-height: 20vh;
  }