/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
  p {
    @apply text-inherit my-6;
  }

  h1 {
    @apply mt-12 mb-4 text-4xl leading-snug;
  }

  h2 {
    @apply mt-12 mb-4 text-3xl leading-snug;
  }

  h3 {
    @apply mt-8 mb-4 text-2xl leading-snug;
  } 

  blockquote{
    @apply p-4 my-4 border-s-4 border-gray-300 bg-gray-50 text-sky-400 dark:border-gray-500 dark:bg-gray-800 text-xl italic font-medium leading-relaxed;
  }

  table {
    @apply table-auto min-w-full text-left text-sm overflow-x-auto border-spacing-0 mb-8;
  }
  
  thead {
    @apply border-b font-medium;
  }
  
  tr {
    @apply border-b h-px;
  }
  
  td {
    @apply whitespace-nowrap h-px;
  }
  
  blockquote {
    @apply p-4 my-4 border-s-4 border-gray-300 bg-slate-50 text-sky-400 dark:border-gray-500 dark:bg-slate-800 text-xl italic font-medium leading-relaxed;
  }
  
  img {
    @apply resize aspect-w-auto aspect-h-auto lg:aspect-none;
  }
  
  code {
    @apply text-sm sm:text-base inline-flex text-left text-sky-400  items-center space-x-4 rounded-lg p-4 pl-6 bg-slate-50 dark:bg-slate-800 border-gray-300;
  }
  
  ul {
    @apply list-disc my-6 list-inside;
  }

  ol {
    @apply list-decimal my-6 list-inside;
  }

  a {
    @apply font-semibold;
  }
  a:hover {
    @apply text-sky-400 underline;
  }
  iframe {
    @apply my-6 w-full;
  }
}

#app {
  height: 100%;
}

body {
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;

  --accent: var(--blue);

  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  prose: #777C88;
  position: relative;
  height: 100%;
}

.active{
background-color:var(--red);
}

.c-share {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center; /* [2] */
  margin-bottom:10px;
  width:100%;
}

.e-share {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center; /* [2] */
  margin-bottom:10px;
  max-width: 170px;
  width:100%;
}

.d-share {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center; /* [2] */
  margin-bottom:10px;
}

.fix-bottom-button {
  position: fixed;
  bottom: 3rem;
  left: 2rem;
  right: 2rem;
  align: right;

  background-image: linear-gradient(90deg, #ffa513, #ff5a1c);
  box-shadow: 0 0.13333rem 0.4rem 0 rgba(255, 80, 0, 0.4);

  border-radius: 1.5rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;

  height: 3rem;
  width: 3rem;

  line-height: 2;
}

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
}

::-webkit-scrollbar-corner {
  background: var(--blue);
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--green);
  transform-origin: 0%;
}

.imageContainer {
  width: 100%;

  >div {
      position: unset !important;
  }

  .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
  }
}

.mobileShow {display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){ 
    .mobileShow {display: inline;}
}
.mobileHide { display: inline; }

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
   .mobileHide { display: none;}
}

  /*---------------------------------------
      HERO
  -----------------------------------------*/

  #hero {
    background: url('../public/images/Ground - 8.jpg') no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 80vh;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
  }

  /*---------------------------------------
      ABOUT
  -----------------------------------------*/

  #about {
    background: url('../public/images/backgroundhero-tanah.jpg') no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30vh;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
  }

  /*---------------------------------------
      KONTAK
  -----------------------------------------*/

  #kontak {
    background: #004d40;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565c0, #a7ffeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565c0 , #a7ffeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    min-height: 20vh;
  }